name: Publish chart to registry
on: 
  push:
    branches:
      - 'main'
    paths:
      - 'basic-web-service/Chart.yaml'
  workflow_dispatch:

jobs:

  publish_chart:

    runs-on: ubuntu-latest
    env:
      REGISTRY_HOSTNAME: "us-docker.pkg.dev"

    steps:
    - uses: 'actions/checkout@v6'

    - name: Get latest chart version number
      run: echo "CHART_VERSION=$(cat basic-web-service/Chart.yaml | grep 'version:' | cut -d' ' -f2)" >> $GITHUB_ENV

    - name: Check for matching archive
      env:
        ERROR_MISSING_ARCHIVE: "::error:: Couldn't find the file 'charts/basic-web-service-${{ env.CHART_VERSION }}.tgz', did you run './package-chart.sh'?"
      run: |
        if [[ ! -f  "charts/basic-web-service-${CHART_VERSION}.tgz" ]]
        then
          echo $ERROR_MISSING_ARCHIVE && exit 1
        fi

    - name: 'Authenticate to Google Artifact Registry'
      run: |
        echo ${{ secrets.GCR_TOKEN }} | helm registry login -u oauth2accesstoken --password-stdin \
        ${{ env.REGISTRY_HOSTNAME }}

    - name: 'Check if chart version already exists in registry'
      env:
        CHART_URL_OCI: "oci://${{env.REGISTRY_HOSTNAME}}/uwit-mci-iam/containers/charts/basic-web-service"
        ERROR_CHART_EXISTS: "::error:: basic-web-service:${{env.CHART_VERSION}} already exists in registry, did you forget to bump the version in Chart.yaml?"
      run: |
        if helm pull $CHART_URL_OCI --version $CHART_VERSION
        then
          echo $ERROR_CHART_EXISTS && exit 1
        else
          echo "::notice:: Uploading new chart with version tag $CHART_VERSION"
        fi

    - name: 'Upload chart'
      env:
        REGISTRY_URL_OCI: "oci://${{env.REGISTRY_HOSTNAME}}/uwit-mci-iam/containers/charts"
      run: |
        helm push charts/basic-web-service-${CHART_VERSION}.tgz $REGISTRY_URL_OCI
